$background-color: rgba(128, 128, 128, 0.125);
body {
  background: $background-color;
}
$footerbg-color: rgba(18, 9, 32, 0.815);
.footer {
  background: $footerbg-color;
}
$page-padding: 15px 392px;
$page-width: 1120px;

$defaultFontFamily: Arial, Helvetica, sans-serif, black;
