.main__Content {
  padding-top: 80px;
  width: 100%;
  max-width: 1152px;
  z-index: 1;
  margin: 0px auto;
}
.main__Header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: $defaultFontFamily;
  padding-top: 20px;
}
.nav__Forms {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  height: 30px;
}
body {
  background: $background-color;
}
.img__Link {
  width: 200px;
  height: auto;
}

.links__Row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.short__Link {
  height: 200px;
}
.content__Title {
  font-size: 25px;
  padding-bottom: 25px;
}
.content__Box {
  margin-bottom: 20px;
  max-width: 200px;
}
.play-button {
  padding: 35%;
}
.bg-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 99%;
  opacity: 0;
  transition: all 0.2s linear;
  display: block;
}
.img__Box:hover .bg-hover {
  opacity: 1;
}
.img__Box {
  position: relative;
}
.text__Link {
  text-decoration: none;
  color: black;
}
.text__Link:hover {
  color: rgb(60, 60, 255);
}
@media (max-width: 375px) {
  .content__Box {
    padding-left: 25%;
  }
  .main__Header {
    font-size: 30px;
  }
  .content__Title {
    padding-left: 17%;
  }
  .main__Content {
    padding: 0;
  }
  .short_Title {
    padding-left: 28%;
  }
}
