.footer {
  background-color: rgb(35, 30, 41);
  color: white;
  width: 100%;
  // padding: $page-padding;
  // width: $page-width;
  // display: flex;
  // justify-content: space-between;
  height: 300px;
}
.footerLogo {
  height: 20px;
  width: auto;
  padding: 100px 0;
}
.topFooter {
  display: flex;
  justify-content: space-between;
}
.right {
  display: flex;

  justify-content: flex-end;
}
.footerLink {
  color: white;
  text-decoration: none;
  padding: 20px 0;
  font-size: 18px;
}
.footerLink :hover {
  text-decoration: solid white;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerInf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 250px;
  padding-top: 20px;
}
.qwer {
  display: flex;
  justify-content: space-between;
  left: 0px;
  width: 1150px;
  margin: 0 auto;
}
