.navBar {
  background-color: white;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  // padding: 6px;
  padding: $page-padding;
  width: $page-width;
  // position: fixed;
}
.navLink {
  text-decoration: none;
  padding: 30px 20px;
  font-size: 18px;
  font-family: $defaultFontFamily;

  // :hover {

  // }
}
.navLink:hover {
  border-bottom: solid 2px;
}
