.nav__Bar {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 30px;
}
.nav__Logo {
  zoom: 0.8;
}
.nav__Link {
  text-decoration: none;
  padding: 20px 20px;
  font-size: 18px;
  font-family: $defaultFontFamily;
}
.nav__Link:hover {
  border-bottom: solid 2px;
}
.top-container {
  left: 0px;
  width: 100%;
  // z-index: 100;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(223, 226, 230);
  display: flex;
  justify-content: center;
}
@media (max-width: 510px) {
  .nav__Logo {
    zoom: 0.5;
    padding-left: 10px;
  }
  .nav__Link {
    font-size: 12px;
    padding: 20px 10px;
  }
}
@media (max-width: 375px) {
  .nav__Logo {
    zoom: 0.5;
    padding-left: 10px;
  }
  .nav__Link {
    font-size: 12px;
    padding: 20px 10px;
  }
}
